/* Estilos generales para el contenedor de contacto */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos específicos para el tema claro */
  .light .information {
    background-color: #ffffff; /* Fondo blanco para el tema claro */
    color: #000000; /* Texto negro para el tema claro */
  }
  
  /* Estilos específicos para el tema oscuro */
  .dark .information {
    background-color: #333333; /* Fondo gris oscuro para el tema oscuro */
    color: #ffffff; /* Texto blanco para el tema oscuro */
  }
  
  /* Estilos para el título */
  .information h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: inherit; /* Hereda el color del contenedor */
  }
  
  /* Estilos para el párrafo */
  .information p {
    font-size: 1em;
    margin-bottom: 20px;
    color: inherit; /* Hereda el color del contenedor */
  }
  