.footer {
  background-color: #4c419e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Aumenta el padding para dejar espacio adecuado */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex; /* Usa flex en lugar de grid para alineación horizontal */
  gap: 10px;
  padding-right: 20px; /* Reduce el padding-right para evitar el choque con el scroll */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.logoFooter {
  height: 50px;
  margin-left: 10px;
}

.redesSociales {
  width: 24px;
  height: 24px;
}

/* Cambios de tema */
.lightTheme {
  background-color: black;
  font-weight: 400;
  font-size: larger;
  color: beige;
}

.darkTheme {
  background-color: white;
  font-weight: 200;
  font-size: medium;
  color: rgb(21, 21, 21);
}
