/* Footer.module.css */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed; 
  bottom: 0; 
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  z-index: 10;
  background-color: #59a7c8; /* Color por defecto (tema claro) */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de color */
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  gap: 10px;
  padding-right: 20px; 
  box-sizing: border-box;
}

.logoFooter {
  height: 50px;
  margin-left: 10px;
}

.redesSociales {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

/* Estilos para el tema claro */
.light .footer {
  background-color: #59a7c8; /* Ajusta según el color de fondo deseado para el tema claro */
}

/* Estilos para el tema oscuro */
.dark .footer {
  background-color: #333; /* Ajusta según el color de fondo deseado para el tema oscuro */
  color: #fff; /* Color del texto y elementos en el footer para el tema oscuro */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

main {
  flex: 1; 
  padding-bottom: 120px; /* Ajusta para el tamaño del footer */
}
