.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff; 
    padding: 10px 20px;
    width: 100%;
  }
  
  .logoContent {
    flex: 1;
  }
  
  .logo {
    height: 66px; /* Ajusta según sea necesario */
  }
  
  .optionContent {
    flex: 2; 
    display: flex;
    justify-content: flex-end;
    gap: 20px; /* Espacio entre las opciones */
    align-items: center;
    padding-right: 60px;
  }
  
  .h4{
    margin: 0;
    color: #59a7c8;
    cursor: pointer;
  }
  .button {
    margin: 0;
    cursor: pointer;
    padding: 0; 
    width: 30px; 
    height: 30px; 
    background: none; 
    border: none; 
}
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  